@model TrashCollection.Models.Customer
@{
    ViewData["Title"] = "FinishRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registration: Final Stepsg</h1>

<h4>@Html.DisplayFor(model => model.EmailAddress)</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FinishRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FamilyName" class="control-label"></label>
                        <input asp-for="FamilyName" class="form-control" />
                        <span asp-validation-for="FamilyName" class="text-danger"></span>
                    </div>
                    <div class"form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class"form-group col-sm-6">
                        <label asp-for="WeeklyPickupDay" class="control-label"></label>
                        <select asp-for="WeeklyPickupDay" class="form-control">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>
                        <span asp-validation-for="WeeklyPickupDay" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class"form-group">
                        <label asp-for="StreetAddress" class="control-label">Street Address</label>
                        <input asp-for="StreetAddress" class="form-control" />
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>
                    <div class"form-group">
                        <label asp-for="City" class="control-label">City</label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class"form-group">
                        <label asp-for="ZipCode" class="control-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="FinishRegistration" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}