@model TrashCollection.Models.Employee
@{
    ViewData["Title"] = "Customer Address on Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>AddressMap</h1>

<hr />
@foreach (var item in Model.Addresses)
{
    <div class="row justify-content-center">
        <div class="col-sm-7">
            <div class="card">

                <div class="card-header bg-info text-light">
                    Address: @item.Key
                </div>
                <div class="card-body embed-responsive embed-responsive-1by1">
                    <iframe class="embed-responsive-item"
                            frameborder="0"
                            style="border: 0 ;"
                            src="@item.Value" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
}
