@model TrashCollection.Models.Employee
@{
    ViewData["Title"] = "Customer Address on Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>AddressMap</h1>

<hr />

<div class="row justify-content-center">
    <div class="col-sm-9">
        <div class="card">

            <div class="card-header bg-info text-light">
                Address: @Model.Addresses.First().Key
            </div>
            <div class="card-body embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item"
                        frameborder="0"
                        style="border: 0 ;"
                        src="@Model.Addresses.First().Value" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
